autocommand==2.2.2
beautifulsoup4==4.13.4
cheroot==10.0.1
CherryPy==18.10.0
iniconfig==2.1.0
jaraco.collections==5.2.1
jaraco.context==6.0.1
jaraco.functools==4.2.1
jaraco.text==4.0.0
Jinja2==3.1.6
legacy-cgi==2.6.3
MarkupSafe==3.0.2
more-itertools==10.7.0
packaging==25.0
pluggy==1.6.0
portend==3.2.1
Pygments==2.19.2
pytest==8.4.1
python-dateutil==2.9.0.post0
setuptools==80.9.0
six==1.17.0
soupsieve==2.7
tempora==5.8.1
typing_extensions==4.14.1
waitress==3.0.2
WebOb==1.8.9
WebTest==3.0.6
zc.lockfile==3.0.post1
