<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>Show Case Sneak Peek</title>
    </head>
    <body>
        <div class="navigation-bar">
            <h1>Showcase Sneak Peek</h1>
            <a class="home_page" href="{{ link_url }}">Home Page</a> 
        </div>
        
        <video width="200" controls>
            <source src="/static/sweats.mp4">
        </video>
    </body>
</html>